.page{
    background-color: aliceblue;
    height: 600px;
    width: 600px;
    border-width: 2px;
    border-style: solid;
    border-color: black;

}

.ball {
  position: absolute;        
  width: 100px;
  margin: 0px;
  padding: 0px;
  top: 20px;
  left: 0px;             
  animation: movimiento 9s ease-in-out 1s infinite alternate;      
}

@keyframes movimiento {
   0% {
    transform: translate(0px,0px);
      }

  25% {
    transform: translate(50px, 495px);
      }

  50% {
       transform: translate(250px, 100px);
       transform: scale(1,0.7);
       }
       
  65% {
      transform: translate(400px,500px);
      }
 
  75% {
       transform: translate(500px, 250px);
       transform: scale(1,0.7);
       }

  85% {
        transform: translate(200px, 500px);
      }

  100% {
       transform: translate(0px, 0px);
       transform: scale(0.7,1);
       }
    }